.ast-builder-menu-1 .main-header-menu > .menu-item > .sub-menu,
.ast-builder-menu-1 .main-header-menu > .menu-item > .astra-full-megamenu-wrapper {
    margin-top: 0px;
    padding-right: -10px;
}

.ast-builder-menu-1 .main-header-menu,
.ast-header-break-point .ast-builder-menu-1 .main-header-menu {
    margin-right: 30px;
}

.ast-builder-menu-2 .main-header-menu,
.ast-header-break-point .ast-builder-menu-2 .main-header-menu {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 0px;
}

.ast-builder-menu-1 .menu-item > .menu-link {
    font-size: 1.1em;
    color: #000000;
    margin-right: 10px;
}


.ast-builder-menu-1 .main-header-menu,
.ast-header-break-point .ast-builder-menu-1 .main-header-menu {
    margin-right: 30px;
}

.ast-builder-menu-1 .menu-item > .menu-link {
    font-size: 1.1em;
    color: #000000;
    margin-right: -10px;
}


/*om -os menu*/
.ast-builder-menu-2 .main-header-menu,
.ast-header-break-point .ast-builder-menu-2 .main-header-menu {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -10px;
    margin-right: 0px;
}

.ast-builder-menu-2 .menu-item > .menu-link {
    font-size: 1.2em;
    color: #000000;
    padding-right: 30px;
}


#baggrund {
    background-color: #EFECE7;
    margin-bottom: 70px;
    height: 20vw;
    object-fit: cover;
}

h1.interior {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 250px;
    text-transform: uppercase;
    color: rgba(101, 100, 91, 0.43);
    position: absolute;
    margin-top: -21vw;
}

#streg {
    background-color: #FAF6C7;
    margin-bottom: 70px;
    height: 20px;
    object-fit: cover;
    margin-top: -90px;
}

nav#filtrering {
    text-align: center;
    margin-bottom: 55px;
    margin-top: 35px;
}

button.filter {
    color: black;
    /*    text-transform: uppercase;*/
    font-weight: 800;
    font-size: 21px;
    font-family: Montserrat;
    font-weight: 300;
    background-color: white;
    color: black;
}

button.filter:hover {
    cursor: pointer;
    /*    transform: scale(1.09);*/
    transition: .10s ease;
    text-decoration: underline;
}

button.active {
    color: black;
}


#liste {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    margin-left: 130px;
}

.img-hover-zoom {
    height: 390px;
    max-width: 70%;
    overflow: hidden;
    /* Her Hides det overflødige af child elementet */
}


.img-hover-zoom img {
    transition: transform .5s ease;
}

img.billede {
    cursor: pointer;
    max-width: 100%;
    overflow: hidden;
}

/*
img.billede:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform .5s ease;
}
*/

.img-hover-zoom:hover img {
    transform: scale(1.05);
    opacity: 0.7;
    transition: transform .5s ease;
}

h3.titel {
    font-size: 18px;
    margin-top: 15px;
    font-family: Montserrat;
    font-weight: 400;
}


p.pris {
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 50px;
    font-family: Montserrat;
    font-weight: 300;
}

/*
h1.type {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(101, 100, 91, 0.47)
}
*/

.valgt {
    background-color: red;
}





/*______________________________________Single-view______________________________________*/

#produkter {
    display: grid;
    grid-template-columns: 50% 45%;
    grid-gap: 40px;
}

h1.title_single {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    background-color: #fff;
    text-transform: uppercase;
    margin-top: 50px;
}

img.billede_single {
    max-width: 70%;
    margin-top: 50px;
    margin-bottom: 70px;
    margin-left: 150px;

}

.button_single {
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 300;
    background-color: #FAF6C7;
    color: black;
}




/*______________________________________page-view (mobile-version)______________________________________*/
@media (max-width: 375px) {
    h1.interior {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        font-size: 70px;
        text-transform: uppercase;
        color: rgba(101, 100, 91, 0.47);
        position: absolute;
        margin-top: -34.6vw;
    }

    #liste {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 40px;
        margin: 0px 20px;
    }

    /*______________________________________single-view (mobile-version)______________________________________*/
    #produkter {
        display: block;
    }

    img.billede_single {
        max-width: 100%;
        margin-top: 50px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .button_single {
        text-transform: uppercase;
        font-family: Montserrat;
        font-weight: 300;
        background-color: #FAF6C7;
        color: black;
        margin-left: 80px;
        margin-bottom: 50px;
        text-align: center;
    }
}
