/* streg i menu */
.elementor-1991 .elementor-element.elementor-element-4c8b8ba .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item::after,
.elementor-1991 .elementor-element.elementor-element-4901add .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item::after {
    height: 1px;
}


/*om -os menu*/
.ast-builder-menu-2 .main-header-menu,
.ast-header-break-point .ast-builder-menu-2 .main-header-menu {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -10px;
    margin-right: 0px;
}

.ast-builder-menu-2 .menu-item > .menu-link {
    font-size: 1.2em;
    color: #000000;
    padding-right: 30px;
}


#baggrund {
    background-color: #EFECE7;
    margin-bottom: 70px;
    height: 20vw;
    object-fit: cover;
}

h1.interior {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 250px;
    text-transform: uppercase;
    color: rgba(101, 100, 91, 0.43);
    position: absolute;
    margin-top: -21vw;
}

#streg {
    background-color: #FAF6C7;
    margin-bottom: 70px;
    height: 20px;
    object-fit: cover;
    margin-top: -90px;
}

nav#filtrering {
    text-align: center;
    margin-bottom: 55px;
    margin-top: 35px;
}

button.filter {
    color: black;
    /*    text-transform: uppercase;*/
    font-weight: 800;
    font-size: 21px;
    font-family: Montserrat;
    font-weight: 300;
    background-color: white;
    color: black;
}

button.filter:hover {
    cursor: pointer;
    /*    transform: scale(1.09);*/
    transition: .10s ease;
    text-decoration: underline;
}

button.active {
    color: black;
    text-decoration: underline;
}


/*
#liste {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    margin-left: 130px;
}
*/

#liste {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    grid-gap: 0px;
    margin-left: 200px;
    margin-right: 180px;
}

/*
.img-hover-zoom {
    height: 390px;
    max-width: 70%;
    overflow: hidden;
}
*/

.img-hover-zoom {
    height: 390px;
    max-width: 90%;
    overflow: hidden;
    /* Her Hides det overflødige af child elementet */
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

img.billede {
    cursor: pointer;
    max-width: 100%;
    overflow: hidden;
}

.img-hover-zoom:hover img {
    transform: scale(1.05);
    opacity: 0.7;
    transition: transform .5s ease;
}

h3.titel {
    font-size: 18px;
    margin-top: 15px;
    font-family: Montserrat;
    font-weight: 400;
}


p.pris {
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 50px;
    font-family: Montserrat;
    font-weight: 300;
}

p.lang_beskrivelse_single {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
}

.valgt {
    background-color: red;
}





/*______________________________________Single-view______________________________________*/

#produkter {
    display: grid;
    grid-template-columns: 50% 45%;
    grid-gap: 40px;
}

h1.title_single {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    background-color: #fff;
    text-transform: uppercase;
    margin-top: 50px;
}

img.billede_single {
    max-width: 70%;
    margin-top: 50px;
    margin-bottom: 70px;
    margin-left: 150px;

}

.button_single {
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 300;
    background-color: #FAF6C7;
    color: black;
}

.button_single:hover {
    background-color: #B5AB9C;
    color: white;
}

.baggrund {
    background-color: #EFECE7;
    margin-left: -120px;
    margin-right: -120px;
    margin-bottom: 50px;
}

.h2_single {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
}

.flere_produkter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin: 60px 150px 60px 150px;
}

.knap_single {
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 300;
    background-color: #FAF6C7;
    color: black;
    margin-left: 80px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 41vw;
}

.knap_single:hover {
    background-color: #B5AB9C;
    color: white;
}

.flere {
    cursor: pointer;
}

.img-hover-zoom2 {
    max-width: 100%;
    overflow: hidden;
    /* Her Hides det overflødige af child elementet */
}

.img-hover-zoom2 img {
    transition: transform .5s ease;
}

img.flere {
    cursor: pointer;
    max-width: 110%;
    overflow: hidden;
}

.img-hover-zoom2:hover img {
    transform: scale(1.05);
    opacity: 0.7;
    transition: transform .5s ease;
}

.tilbageknap {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    color: black;
    margin-bottom: -20px;
}

.tilbageknap:hover {
    cursor: pointer;
    transition: .10s ease;
    text-decoration: underline;
}



/*______________________________________page-view (ipad-version)______________________________________*/
@media (max-width: 768px) {
    h1.interior {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        font-size: 130px;
        text-transform: uppercase;
        color: rgba(101, 100, 91, 0.43);
        position: absolute;
        margin-top: -26vw;
    }

    #liste {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1.5fr;
        grid-gap: 0px;
        margin-left: 50px;
        margin-right: 0px;
    }

    .img-hover-zoom {
        height: 260px;
        max-width: 90%;
        overflow: hidden;
    }

    button.filter {
        padding: 0px 15px 0px 15px;
        font-size: 20px;
    }
}

/*______________________________________page-view (mobile-version)______________________________________*/
@media (max-width: 375px) {
    h1.interior {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        font-size: 70px;
        text-transform: uppercase;
        color: rgba(101, 100, 91, 0.47);
        position: absolute;
        margin-top: -34.6vw;
    }

    #liste {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 40px;
        margin: 0px 20px;
    }
}

/*______________________________________single-view (ipad-version)______________________________________*/
@media (max-width: 768px) {

    .flere_produkter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        margin: 60px 150px 60px 150px;
    }

    img.billede_single {
        max-width: 100%;
        margin-top: 50px;
        margin-bottom: 70px;
        margin-left: 100px;
    }

    #produkter {
        display: grid;
        grid-template-columns: 32% 46%;
        grid-gap: 130px;
        margin-bottom: -20vw;
    }


    h2.h2_single {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 32px;
        text-align: center;
        padding-top: 50px;
    }

    section.baggrund {
        margin: 100px -20px 30px -20px;
    }

    button.knap_single {
        margin-left: 240px;
    }
}


/*______________________________________single-view (mobile-version)______________________________________*/
@media (max-width: 375px) {
    #produkter {
        display: block;
    }

    img.billede_single {
        max-width: 100%;
        margin-top: 50px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .button_single {
        text-transform: uppercase;
        font-family: Montserrat;
        font-weight: 300;
        background-color: #FAF6C7;
        color: black;
        margin-left: 80px;
        margin-bottom: 50px;
        text-align: center;
    }

    h2.h2_single {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 24px;
        text-align: center;
        padding-top: 50px;
    }

    button.knap_single {
        text-transform: uppercase;
        font-family: Montserrat;
        font-weight: 300;
        background-color: #FAF6C7;
        color: black;
        margin-left: 80px;
        margin-bottom: 50px;
        text-align: center;
        margin-left: 41vw;
        margin-bottom: 20px;
    }

    section.baggrund {
        margin: 50px -10px 50px -10px;
    }

    .flere_produkter {
        display: block;
        margin-right: -50px;
        margin-left: 60px;
    }

    .img-hover-zoom2 {
        max-width: 70%;
        overflow: hidden;
        margin-right: 30px;
    }

    img.flere {
        /* margin-bottom: 20px; */
        /* margin-left: 40px; */
        margin: 20px 0px 10px 0px;
        max-width: 100%;
    }
}

/* -------------------------------- FOOTER ------------------------------------*/

/* hover på links i footer*/
.elementor-18 .elementor-element.elementor-element-318b17c .elementor-heading-title:hover,
.elementor-18 .elementor-element.elementor-element-9ff18eb .elementor-heading-title:hover,
.elementor-18 .elementor-element.elementor-element-92cf1fa .elementor-heading-title:hover {
    color: #B5AB9C;
}
